/* Color palette:
bright red: #C13129
gold: #cdad2b
red: #711B14
dark red: #300909
dark: #181312
light: #C1A47A
*/
@font-face {
  font-family: "Harry Potter";
  src: url("../font/HARRYP__.TTF");
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 20px;
}

body {
  position: relative;
  height: 100vh;
  background-color: #181211;
}

h1 {
  font-size: 3rem;
  font-family: "Harry Potter";
  color: #cdad2b;
  text-shadow: #181312 8px 0 10px;
}

h2 {
  font-size: 3rem;
  align-self: center;
  font-family: "Harry Potter";
  color: #ba9809;
}

h3 {
  font-size: 3.5rem;
  align-self: center;
  margin-bottom: 10px;
  font-family: "Harry Potter";
}

.btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px;
  padding: 10px;
  border-radius: 10px;
  width: 20%;
  font-family: "Harry Potter";
  font-size: 1.5rem;
  background-color: #cdad2b;
  border: 10px outset #ba9809;
  text-decoration: none;
  color: black;
}

.mainLogo {
  text-decoration: none;
  color: #cdad2b;
  width: 60%;
}

#potionMaster {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  background-image: url("../images/header-gryffindor.jpg");
  height: 100px;
}

#poudlard {
  width: 6%;
}

#poudlard img {
  width: 80%;
}

footer div {
  width: 100%;
  height: 150px;
  background-color: #181312;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#empty {
  width: 40%;
}

footer h2 {
  position: absolute;
  width: 100%;
  top: 110px;
  font-size: 3rem;
  text-align: center;
}

#tip {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  background-color: white;
  width: 35%;
  height: 80px;
  border-radius: 20px;
  border: 8px outset #ba9809;
}

.ligthning {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  padding: 0;
}

.ligthning :first-child {
  width: 40%;
}

.ligthning img {
  margin: 0;
  width: 100%;
}

.ligthning p {
  text-align: left;
  margin: 0;
  font-family: sans-serif;
  font-size: 0.8rem;
}

/*main game*/

#container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-content: center;
  background-color: #711b14;
}

#containerGame {
  background-color: #181312;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-content: center;
}

#tries {
  padding-top: 20px;
  margin-top: 0;
  align-self: flex-end;
  background-color: #711b14;
  width: 35%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-self: flex-start;
  flex-wrap: wrap;
  padding-left: 15px;
}

#tries h2 {
  width: 100%;
  text-align: center;
  color: #cdad2b;
}

#triesList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  font-family: sans-serif;
  font-size: 1.5rem;
  color: #cdad2b;
}

.proposition {
  width: 15%;
}

.proposition :last-child {
  margin-right: 10px;
}

.help {
  width: 10%;
}

.try {
  font-size: 1.5rem;
}

#potion {
  position: relative;
  width: 100%;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#potion img {
  width: 100%;
}

.cauldron {
  opacity: 1;
  transition: opacity 0.4s linear;
}

.cauldron.invisible {
  opacity: 0;
}

#cauldron {
  position: relative;
}

#blueCauldron {
  position: absolute;
}

#ingredients {
  align-self: center;
  width: 35%;
  background-color: #300909;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  margin: 0;
  z-index: 2;
}

.ingredient {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-around;
}

.ingredient p {
  width: 50%;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Harry Potter";
  color: #ba9809;
}

.ingredient div {
  width: 45%;
}

.ingredient img {
  width: 70%;
  left: 0;
}

/*pop up alerte*/

.popup {
  position: absolute;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 1s linear;
}

.popup.is-active {
  z-index: 2000;
  opacity: 1;
}

#looserAlert {
  position: absolute;
  top: 110px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  left: 25%;
  z-index: 1;
  padding: 20px;
  width: 50%;
  background-color: #000;
  font-size: 3rem;
  line-height: 16px;
  color: #cdad2b;
  border: 20px ridge #cdad2b;
  border-radius: 10px;
}

#looserAlert h3 {
  margin: 20px;
}

#looserAlert p {
  color: #cdad2b;
  font-size: 2rem;
  margin-right: 10px;
  font-family: sans-serif;
}

#looserAlert img {
  margin-top: 10px;
  width: 60%;
  margin-top: 10px;
}

#winnerAlert img {
  margin-top: 10px;
  width: 80%;
  margin-top: 10px;
}

#winnerAlert span {
  text-transform: capitalize;
}

#answer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px 70px 0;
  align-items: center;
  font-family: "Harry Potter";
}

#looserAlert .answer {
  width: 10%;
}

.popupbtn {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.popupbtn .btn {
  width: 40%;
}

#winnerAlert {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  left: 50%;
  top: 70%;
  z-index: 2000;
  padding: 20px;
  height: 80%;
  width: 50%;
  background-color: #b32e25;
  font-size: 1.5rem;
  line-height: 16px;
  color: #cdad2b;
  border: 20px ridge #cdad2b;
  border-radius: 20px;
}

/* House cup*/

#winnerHouse {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  left: 50%;
  top: 70%;
  z-index: 2000;
  padding: 20px;
  height: 80%;
  width: 50%;
  background-color: #b32e25;
  font-size: 3rem;
  line-height: 16px;
  color: #cdad2b;
  border: 20px ridge #cdad2b;
  border-radius: 20px;
}

/* media queries for responsive*/

/* phones, under 413px */
@media screen and (max-width: 413px) {
  #poudlard {
    display: none;
  }
  h1 {
    font-size: 2rem;
  }
  #potionMaster {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  #empty {
    width: 0;
  }

  #tip {
    width: 80%;
  }

  .ligthning :first-child {
    width: 70%;
  }

  .ligthning p {
    font-size: 0.5rem;
  }

  #container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
  }

  #tries {
    width: 100%;
  }

  #containerGame {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-content: center;
  }

  #ingredients {
    width: 60%;
  }

  h2 {
    font-size: 2rem;
  }

  .ingredient p {
    font-size: 1.2rem;
    width: 100%;
  }
  .ingredient div {
    width: 40%;
    display: flex;
    justify-content: center;
  }

  .ingredient img {
    width: 60%;
  }

  .try {
    font-size: 1.2rem;
  }

  footer h2 {
    display: none;
  }

  #winnerAlert,
  #looserAlert {
    left: 5%;
    width: 90%;
    border: 10px ridge #cdad2b;
  }

  #winnerAlert h3,
  #looserAlert h3 {
    font-size: 1.5rem;
  }

  .btn {
    width: 50%;
  }

  #answer {
    padding: 0;
  }

  #looserAlert p {
    font-size: 0.7rem;
  }

  #looserAlert .btn {
    margin: 10px;
    padding: 0;
    width: 40%;
    font-size: 0.8rem;
  }
}

/* big phones / small tablet */
/* from 415px to 767px */
@media screen and (min-width: 414px) and (max-width: 767px) {
  #poudlard {
    display: none;
  }
  h1 {
    font-size: 2rem;
  }
  #potionMaster {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  #empty {
    width: 0;
  }

  #tip {
    width: 80%;
  }

  .ligthning :first-child {
    width: 70%;
  }

  .ligthning p {
    font-size: 0.5rem;
  }

  #container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
  }

  #tries {
    width: 100%;
  }

  #containerGame {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-content: center;
  }

  #ingredients {
    width: 60%;
  }

  h2 {
    font-size: 3rem;
  }

  .ingredient p {
    font-size: 1.8rem;
    width: 100%;
  }
  .ingredient div {
    width: 40%;
    display: flex;
    justify-content: center;
  }

  .ingredient img {
    width: 60%;
  }

  .try {
    font-size: 1.2rem;
  }

  footer h2 {
    display: none;
  }

  #winnerAlert,
  #looserAlert {
    left: 5%;
    width: 90%;
    border: 10px ridge #cdad2b;
  }

  #winnerAlert h3,
  #looserAlert h3 {
    font-size: 1.5rem;
  }

  .btn {
    width: 50%;
  }

  #answer {
    padding: 0;
  }

  #looserAlert p {
    font-size: 0.7rem;
  }

  #looserAlert .btn {
    margin: 10px;
    padding: 0;
    width: 40%;
    font-size: 0.8rem;
  }
}

/* tablets */
/* from 768px to 1024px */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  #tip {
    width: 50%;
  }

  #empty {
    width: 0;
  }

  h1 {
    width: 40%;
  }

  .ligthning :first-child {
    width: 60%;
  }

  #container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
  }

  #tries {
    width: 100%;
  }

  #containerGame {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-content: center;
  }

  #ingredients {
    width: 60%;
  }

  h2 {
    font-size: 5rem;
  }

  .ingredient p {
    font-size: 3rem;
    width: 80%;
  }
  .ingredient div {
    width: 20%;
    display: flex;
    justify-content: center;
  }

  .ingredient img {
    width: 60%;
  }

  .try {
    font-size: 1.8rem;
  }

  footer h2 {
    display: none;
  }

  #winnerAlert,
  #looserAlert {
    left: 5%;
    width: 90%;
    border: 20px ridge #cdad2b;
  }

  #winnerAlert h3,
  #looserAlert h3 {
    font-size: 2.5rem;
  }

  .btn {
    width: 50%;
  }

  #answer {
    padding: 0;
  }

  #looserAlert p {
    font-size: 1rem;
  }

  #looserAlert .btn {
    margin: 10px 40px;
    padding: 0;
    width: 40%;
    font-size: 1.2rem;
  }
}

/* small to medium desktop */
/* from 1024ox to 1440px */
@media screen and (min-width: 1024px) and (max-width: 1440px) {
  #empty {
    width: 0;
  }

  h1 {
    width: 60%;
  }
}

/* Medium to big desktop
/* above 1440px */
@media screen and (min-width: 1441px) {
  #winnerAlert,
  #looserAlert {
    left: 5%;
    width: 90%;
    border: 20px ridge #cdad2b;
  }

  #winnerAlert h3,
  #looserAlert h3 {
    font-size: 3rem;
  }

  .btn {
    width: 50%;
  }

  #answer {
    padding: 0;
  }

  #looserAlert p {
    font-size: 1rem;
  }

  #looserAlert .btn {
    margin: 10px 120px;
    padding: 0;
    width: 30%;
    font-size: 1.2rem;
  }
}
