/*main theme color palette
gold: #cdad2b
light grey: #5F6C75
grey: #24282C
black: #000
white: #E7E3DD
*/

@font-face {
  font-family: "Harry Potter";
  src: url("../font/HARRYP__.TTF");
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 18px;
}

body {
  position: relative;
  background-color: #24282c;
  height: 100vh;
  width: 100vh;
  background-image: url("../images/homepage.jpg");
  background-size: overlay;
  background-repeat: repeat;
}

footer div {
  height: 150px;
  background-color: #24282c;
}

.mainLogo {
  text-decoration: none;
  color: #cdad2b;
}

#potionMaster {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  background-image: url("../images//header-theme.jpg");
  height: 10%;
}

h1 {
  font-size: 3rem;
  font-family: "Harry Potter";
  color: #cdad2b;
  text-shadow: #24282c 8px 0 10px;
}

h2 {
  font-size: 3rem;
  align-self: center;
  font-family: "Harry Potter";
}

h3 {
  font-size: 3.5rem;
  align-self: center;
  margin-bottom: 10px;
  font-family: "Harry Potter";
}

.btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 40px;
  padding: 10px;
  border-radius: 10px;
  width: 30%;
  font-family: "Harry Potter";
  font-size: 1.5rem;
  background-color: #cdad2b;
  border: 10px outset #ba9809;
  text-decoration: none;
  color: black;
}

/*Introduction*/
p {
  font-family: sans-serif;
  color: black;
  font-size: 1.4rem;
  width: 100%;
  line-height: 1.3;
}

#intro {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px;
  width: 100vw;
}

#logo {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#logo img {
  width: 15%;
}

#intro h1 {
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
  font-size: 5rem;
  text-shadow: #24282c 8px 0 10px;
  margin-top: 40px;
}

#explanation {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  border: 20px ridge #cdad2b;
}

#rules {
  width: 50%;
  padding: 15px;
}

#help {
  position: absolute;
  top: 40px;
  left: 50%;
  width: 50%;
  text-align: center;
  font-family: "Harry Potter";
  color: #cdad2b;
  font-size: 5rem;
}

.ligthning {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.ligthning img {
  width: 30%;
  margin-bottom: 10px;
}

#introbtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: 40px;
}
/* 

/*character random*/

#character {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #24282c;
  width: 100%;
}

#random {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  text-align: center;
}

.characterRandom {
  margin-bottom: 20px;
  border: 20px ridge #cdad2b;
  background-color: #fff;
  width: 80%;
  height: 50%;
}

.characterRandom img {
  width: 100%;
}

#random .btn {
  width: 40%;
}

.characterSort {
  position: absolute;
  top: 110px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  left: 25%;
  z-index: 1;
  padding: 20px;
  width: 50%;
  background-color: #fff;
  font-size: 3rem;
  line-height: 16px;
  color: #cdad2b;
  border: 20px ridge #cdad2b;
  border-radius: 10px;
}

.characterSort h3 {
  text-transform: capitalize;
  margin: 20px;
}

.characterSort img {
  width: 70%;
  margin-top: 10px;
}

.gryffindor {
  background-color: #b32e25;
}

.hufflepuff {
  background-color: #f3dc62;
  color: black;
}

.ravenclaw {
  background-color: #385da4;
}

.slytherin {
  background-color: #377766;
}

/* #characterSort h1{
  margin-bottom: 20px;
} */

#btnCharacterSort {
  width: 40%;
  padding: 20px;
}

/*main game*/

#poudlard {
  width: 6%;
}

#poudlard img {
  width: 80%;
}

#container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-content: center;
  background-color: #711b14;
  height: 800px;
}

#containerGame {
  background-color: #181312;
  height: 800px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-content: center;
}

#tries {
  padding-top: 20px;
  margin-top: 0;
  align-self: flex-end;
  background-color: #711b14;
  width: 35%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-self: flex-start;
  flex-wrap: wrap;
}

#tries h2 {
  width: 100%;
  text-align: center;
  color: #cdad2b;
}

#triesList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  font-family: sans-serif;
  font-size: 2rem;
  color: #cdad2b;
}

.proposition {
  width: 15%;
}

.proposition :last-child {
  margin-right: 10px;
}

.help {
  width: 10%;
}

.try {
  font-size: 1.5rem;
}

#potion {
  position: relative;
  width: 100%;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#potion img {
  width: 100%;
}

.cauldron {
  opacity: 1;
  transition: opacity 0.4s linear;
}

.cauldron.invisible {
  opacity: 0;
}

#cauldron {
  position: relative;
}

#blueCauldron {
  position: absolute;
}

#ingredients {
  align-self: center;
  width: 30%;
  background-color: #c1a47a;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px;
  margin: 0;
  z-index: 2;
}

.ingredient {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
}
.ingredient p {
  width: 50%;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Harry Potter";
}

.ingredient div {
  width: 45%;
}

.ingredient img {
  width: 90%;
}

/*pop up alerte*/

.popup {
  position: absolute;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 1s linear;
}

.popup.is-active {
  z-index: 2000;
  opacity: 1;
}

#looserAlert {
  position: absolute;
  top: 110px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  left: 25%;
  z-index: 1;
  padding: 20px;
  width: 50%;
  background-color: #000;
  font-size: 3rem;
  line-height: 16px;
  color: #cdad2b;
  border: 20px ridge #cdad2b;
  border-radius: 10px;
}
#looserAlert h3 {
  margin: 20px;
}

#looserAlert p {
  color: #cdad2b;
}

#looserAlert img,
#winnerHouse img {
  margin-top: 10px;
  width: 60%;
  margin-top: 10px;
}

#winnerAlert img {
  margin-top: 10px;
  width: 80%;
  margin-top: 10px;
}

#answer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px 100px 0;
  align-items: center;
  font-family: "Harry Potter";
}

#looserAlert .answer {
  width: 10%;
}

.popupbtn {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.popupbtn .btn {
  width: 40%;
}

/* coupe des 4 maisons score*/

#houseCupBackground {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#houseCupBackground h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 5rem;
}

#score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black;
  width: 80%;
  padding: 20 0px;
  background-color: #e7e3dd;
  border: 20px ridge #cdad2b;
}

#score .btn {
  width: 15%;
  margin: 15px;
}

#score h2,
#score p {
  display: flex;
  align-items: center;
  width: 40%;
  padding: 0 15px;
  color: #cdad2b;
  text-shadow: #24282c 8px 0 10px;
}

#score h2 {
  font-size: 10 rem;
}

#gryffindor,
#slytherin,
#hufflepuff,
#ravenclaw {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 7px 0;
}

#gryffindor {
  background-color: #711b14;
}

#slytherin {
  background-color: #1f4c41;
}

#ravenclaw {
  background-color: #3267a2;
}

#hufflepuff {
  background-color: #ca7b29;
}

.winnerHouse {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  left: 50%;
  top: 70%;
  z-index: 2000;
  padding: 20px;
  height: 80%;
  width: 50%;
  font-size: 3rem;
  line-height: 16px;
  color: #cdad2b;
  border: 20px ridge #cdad2b;
  border-radius: 20px;
}

.winnerHouse .btn {
  width: 40%;
}

.winnerHouse h3 {
  text-transform: capitalize;
}

#equality {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  left: 50%;
  top: 70%;
  z-index: 2000;
  padding: 20px;
  height: 80%;
  width: 50%;
  background-color: #5f6c75;
  font-size: 3rem;
  line-height: 16px;
  color: #cdad2b;
  border: 20px ridge #cdad2b;
  border-radius: 20px;
}

#equality img {
  width: 90%;
}
